<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vuejs Basic Todolist</title>
</head>
<body>
    <div id="app">
        <input type="text" id="todoText" v-model="todoText">
        <button id="addBtn" @click="addTodo">Ekle</button>
        <ul id="todoList">
            <li v-for="todo in todoList" :key="todo">{{ todo }}</li>
        </ul>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
</body>
</html>